* {
  box-sizing: border-box;
  background-color: #5f464b;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* ===== HEADER ===== */

header {
  text-align: justify;
  min-height: 15rem;
}

nav {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}

.logo {
  width: clamp(5rem, 9vw, 10rem);
  margin-top: 1%;
  margin-left: 0.5rem;
}

.BtnJouer {
  border-radius: 0.5rem;
  margin-left: 11%;
  background-color: #38d9a9;
  width: clamp(86%, 29vw, 900%); /* ou la largeur désirée */
  height: 8vh; /* ou la hauteur désirée */
  text-align: center;
  color: #fff;
  font-size: 2rem;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.imgG {
  height: auto;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
}

header h2 {
  text-align: left;
  margin-left: 1rem;
}

h1 {
  text-align: center;
  color: #fff;
  margin-top: 30%;
  text-align: center;
  color: #fff;
  margin-top: 10%;
}

/* ===== MAIN ===== */

p {
  text-align: start;
  margin: 0.5%;
  padding-top: 5%;
  color: #fff;
  width: 100%;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  font-size: 1.6rem;
}

.paragraph {
  padding: 1em;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.styled {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #38d9a9;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  width: clamp(10rem, 90%, 20rem); /* ou la largeur désirée */
  height: 15vh; /* ou la hauteur désirée */
  text-align: center;
}

.styled:hover {
  background-color: #38d9a9;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*  ===== VERIFIER QUELLE PAGE ? ===== */

#btnSubmit {
  margin: 1rem;
}

/* Menu questions */

.questions-counter-timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
}

.questions-container {
  margin: 20em;
  padding-top: 0;
  padding-bottom: 2em;
  background-color: #5f464b;
  border: 1px solid black;
  border-radius: 9px;
}

#answers-buttons {
  display: grid;
  grid-template-columns: repeat(2, 15em);
  grid-template-rows: repeat(2, 5em);
  margin-left: 8em;
  margin-right: 8em;
}

#question {
  margin-left: 3em;
  margin-right: 3em;
}

footer {
  margin-top: 2rem;
  font-size: 2rem;
  background-color: #5f464b;
  color: #fff;
  text-align: center;
}
