header {
  text-align: justify;
}
nav {
  display: flex;
  justify-content: space-around;
  height: 4rem;
  background-color: #5f464b;
}

.logo {
  margin: 0.5rem;
}

#btnSubmit {
  margin: 1rem;
}

.img {
  height: auto;
}
/* Titre de bienvenue */
/* Message d'acceuil */
/* Titre nos quizz */
/* Bouton avec nos quizz dedans */
